<section id="faq" class="license section">
    <div class="container">
        <div class="license-inner">
            <h2 class="title text-center">Apply for a subcontractor</h2>
            <p>Subcontractors are manually vetted by our team. We will review your submittion and will request more information if needed.</p>

			<p>If you are approved, we will start matching you with potential clients.</p>
            <div class="info">
                <div class="row">
                	<div class="col-md-12 col-md-offset-0">
                		<%= render 'form' %>
            		</div>
            	</div>
    		</div>
    		<%= link_to 'Back', subcontractors_path %>
        </div>
    </div>
</section>

<%= link_to 'Back', users_path %>
