<h1>Apply for a subcontractor</h1>
<p>Subcontractors are manually vetted by our team. We will review your submittion and will request more information if needed.</p>
<p>If you are approved, we will start matching you with potential clients.</p>
<%= render 'form' %>

<%= link_to 'Back', subcontractors_path %>
