<section id="faq" class="license section">
    <div class="container">
        <div class="license-inner">
            <h2 class="title text-center">Apply to be a Contractor on Project: Match</h2>
			<div class="alert alert-info" role="alert">
				<p>Contractors are manually vetted by our team. We will review your submittion and will request more information if needed.</p>
				<p>If you are approved, we will start matching you with potential clients.</p>
			</div>

            <div class="info">
                <div class="row">
                	<div class="col-md-12 col-md-offset-0">
                		<%= render 'form' %>
            		</div>
            	</div>
    		</div>
    		<%= link_to 'Back', subcontractors_path %>
        </div>
    </div>
</section>

