<!DOCTYPE html>
<html>
<head>
  <title>Two</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Outsource.Me</h1>
<p>Get a quality contractor company for your project. Find a project for your company.</p>
<%= yield %>

</body>
</html>
