<h1>Find a company for your project</h1>
<p>No bidding; No pain; No hassle</p>
<h2>
How it works
</h2>
<ul>
	<li>Tell us a bit about your project (just the basics -- what it is, deadlines, technology)</li>
	<li>We hand-pick up to three great outsourcing companies for you</li>
	<li>You tell us which are the ones you want us to introduce you to</li>
</ul>
<p>It's free for the time of the beta</p>
<div>
<%= link_to "Find a Subcontractor", {:controller => :projects, :action => :new}, {:class => "btn btn-lg btn-primary"} %>
<%= link_to "Apply for a subcontractor", {:controller => :subcontractors, :action => :new}, {:class => "btn btn-lg btn-primary"} %>
</div>
