<!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Need a <br/>Subcontractor?</h2>
            <p class="intro">No bidding. No waiting. No hassle.</p>
            <p class="intro">#development #administration #design</p>
            <div class="btns">
				<%= link_to "Find a Subcontractor", {:controller => :projects, :action => :new}, {:class => "btn btn-cta-secondary"} %>
            </div>
			<br />
            <br />
            <br />
			<br/>
			Are you a great developer, admin or designer or part of an amazing team?<br/><%= link_to "Apply here to get projects", {:controller => :subcontractors, :action => :new}, {:class => "lnk"} %>
            
            <ul class="meta list-inline">
                
            </ul><!--//meta-->
        </div><!--//container-->          
    </section><!--//promo-->    

    <!-- ******LICENSE****** --> 
    <section id="about" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">How it works</h2>
                <div class="info">
					<p>
					<h4>You need a team or contractor to get a job done?</h4>
					<ul>
						<li>Tell us what needs to be done</li>
						<li>We hand-pick up to three teams or professionals that can do what you want and notify you by email</li>
						<li>Discuss the details directly with the team you've chosen</li>
					</ul>
					</p>
                </div><!--//info-->
                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro text-center">Find a team now. It is free for the time of the beta.</p>
                    </div><!--//speech-bubble-->
                    <div class="btn-container  text-center">
                        
						<%= link_to "Start talking to a team now", {:controller => :projects, :action => :new}, {:class => "btn btn-cta-secondary"} %>
                    </div><!--//btn-container-->
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->

