<<<<<<< HEAD
<h1>Find a company for your project</h1>
<p>No bidding; No pain; No hassle</p>
<h2>
How it works
</h2>
<ul>
	<li>Tell us a bit about your project (just the basics -- what it is, deadlines, technology)</li>
	<li>We hand-pick up to three great outsourcing companies for you</li>
	<li>You tell us which are the ones you want us to introduce you to</li>
</ul>
<p>It's free for the time of the beta</p>
<div>
<%= link_to "Find a Subcontractor", {:controller => :projects, :action => :new}, {:class => "btn btn-lg btn-primary"} %>
<%= link_to "Apply to be a subcontractor", {:controller => :subcontractors, :action => :new}, {:class => "btn btn-lg btn-primary"} %>
</div>
=======
<!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Need a <br />Subcontractor?</h2>
            <p class="intro">No bidding. No waiting. No hassle.</p>
            <div class="btns">
                  


<%= link_to "Find a Subcontractor", {:controller => :projects, :action => :new}, {:class => "btn btn-cta-secondary"} %>

            </div>
            or <br />
            <%= link_to "Apply for a subcontractor", {:controller => :subcontractors, :action => :new}, {:class => "lnk"} %>
            
            <ul class="meta list-inline">
                
            </ul><!--//meta-->
        </div><!--//container-->          
    </section><!--//promo-->    

    <!-- ******LICENSE****** --> 
    <section id="about" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">How it works</h2>
                <div class="info">
                    <p>This Bootstrap theme is made by UX designer <a href="https://www.linkedin.com/in/xiaoying" target="_blank">Xiaoying Riley</a> at 3rd Wave Media for developers and is <strong>100% FREE</strong> under the <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License (CC BY 3.0)</a></p>
                    <p><strong>[Tip for developers]:</strong> If your project is open source, you might want to put a <a href="https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside" target="_blank">PayPal "Donate" button</a> below so your users can express their gratitude. If your project is commercial, you can put a <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_singleitem-intro-outside" target="_blank">PayPal "Buy Now" button</a> instead.</p>
                </div><!--//info-->
                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">If you are feeling generous and want to show your support to Xiaoying, you can buy her a beer or coffee via the PayPal donate button below. :)</p>
                        <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                    </div><!--//speech-bubble-->
                    <div class="btn-container  text-center">
                        <!--//You need to generate your own PayPal button - https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside -->         
                        <!--PayPal generated code starts-->
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="Y46LJNXGAVVWW">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        <!--//PayPal generated code ends-->                    
                        
                    </div><!--//btn-container-->
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->

    <!-- ******LICENSE****** --> 
    <section id="faq" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">FAQ</h2>
                <div class="info">
                    <p>This Bootstrap theme is made by UX designer <a href="https://www.linkedin.com/in/xiaoying" target="_blank">Xiaoying Riley</a> at 3rd Wave Media for developers and is <strong>100% FREE</strong> under the <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License (CC BY 3.0)</a></p>
                    <p><strong>[Tip for developers]:</strong> If your project is open source, you might want to put a <a href="https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside" target="_blank">PayPal "Donate" button</a> below so your users can express their gratitude. If your project is commercial, you can put a <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_singleitem-intro-outside" target="_blank">PayPal "Buy Now" button</a> instead.</p>
                </div><!--//info-->
                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">If you are feeling generous and want to show your support to Xiaoying, you can buy her a beer or coffee via the PayPal donate button below. :)</p>
                        <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                    </div><!--//speech-bubble-->
                    <div class="btn-container  text-center">
                        <!--//You need to generate your own PayPal button - https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside -->         
                        <!--PayPal generated code starts-->
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="Y46LJNXGAVVWW">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        <!--//PayPal generated code ends-->                    
                        
                    </div><!--//btn-container-->
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
>>>>>>> 90d615a7df15c077817becef14088c0e65308591
