<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact request to Qlibri from Project Match</h1>
	A contact request was filled in Project Match for Qlibri.
	<br/>
	Name: <%= @qlibri_contact.name %><br/>
	Email: <%= @qlibri_contact.email %><br/>
	Description: <%= @qlibri_contact.description %><br/>
  </body>
</html>


