<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Project :Match, <%= @subcontractor.name %></h1>
    <p>
	Thanks a lot for applying to be a subcontractor at Project :Match.
	</p>
    <p>
	We will now evaluate your company profile and will let you know once we have a project suitable for you.
    </p>
  </body>
</html>

