<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Project :Match, <%= @project.name %></h1>
    <p>
	Thanks a lot for submitting your project to Project :Match.
	</p>
    <p>
	We will now find up to three companies that we will send to you in a subsequent email.
	Once you choose a company you want to contact, you could proceed to contact them directly, or, if you prefer, we'll be happy to introduce you to the company.
    </p>
    <p>
		You can chat, echange mails or arrange video calls on your discretion.
	</p>
  </body>
</html>
