<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Project: Match, <%= @project.name %></h1>
    <p>
	Thanks a lot for submitting your project to Project: Match.
	</p>
    <p>
	We will now find a company or an individual (sometimes even more than one) that we think is a match for your project.
	You can start talking to the team directly (or we could introduce you if you prefer).
    </p>
    <p>
		You can chat, exchange mails or arrange video calls on your discretion, using the tools you prefer and love.
	</p>
    <p>
		If you need to change somthing in your project, you can do it at any time by going to <a href="http://www.projectmatch.me">http://www.projectmatch.me</a> and logging in with your email and password.
    </p>
  </body>
</html>
