<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
	<div class="container text-center">
		<h2 class="title" id="title" name="title"><span class="highlight">Technical</span> Screening Services</h2>
		<p class="intro">We screen technical candidates before you spend time and effort on them.</p>
		<hr/>
		<ul class="text-left" >
			<li class="intro">Save time and money</li>
			<li class="intro">Specifically tailored for HR companies</li>
			<li class="intro">Send better and more qualified candidates to your clients</li>
		</ul>
		<div class="btns">
			<a href="#contact" class= "btn btn-cta-secondary">Get Started Now. The First Candidate is Free.</a>
		</div>
		<br />
		<br />
		<br />
		<br/>
		<br />
		<br/>
		<br />
		<br/>
	</div><!--//container-->          
</section><!--//promo-->    

<section class="about section">
	<div class="container">
		<a class="anchor" id="about"></a>
		<div class="item col-md-12 col-sm-6 col-xs-12">
		<h2 class="title text-center">How it Works?</h2>
			<p class="intro">We have a very simple, streamlined process using tools you already know and love like email, Skype, Google Docs and Hangouts</p>
			<div class="row">
				<div class="item col-md-4 col-sm-6 col-xs-12">
					<div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
					<div class="content">
						<h3 class="sub-title">1. Send us the candidate CV and the position requirements</h3>
						<p>
						<a href="#contact">Send us</a> information about the candidate (ideally his or her CV) and tell us what the requirements for that position are.
						</p>
					</div>
				</div>
				<div class="item col-md-4 col-sm-6 col-xs-12">
					<div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>

					<div class="content">
						<h3 class="sub-title">2. We interview the candidate</h3>
						<p>
						We will setup a Skype, Phone or Google Hangouts interview with the candidate.
						During this 20 ~ 45 minutes interview, we asses the candidate skills and qualifications for that position.
						</p>
					</div>
				</div>
				<div class="item col-md-4 col-sm-6 col-xs-12">
					<div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>

					<div class="content">
						<h3 class="sub-title">3. We provide you with a simple Green / Red report</h3>
						<p>
						Simple, yet comprehensive, the report will let you know how the candidate qualifies for the position at hand.
						</p>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="btns text-center">
					<a href="#contact" class= "btn btn-cta-primary">Get Started Now. The First Candidate is Free.</a>
				</div>
			</div>
			<!--//info-->
		</div>
</section>

<section class="features section">
	<div class="container text-center">
		<a class="anchor" id="why_us"></a>
		<div class="item col-md-12 col-sm-6 col-xs-12">
			<h2 class="title text-center">Why use us?</h2>
			<p style="font-size:large">You save time and money</p>
			<p style="font-size:large">You send more qualified candidates to your clients</p>
			<p style="font-size:large">Your clients are more satisfied</p>
		</div>
</section>
<section class="about section">
	<div class="container">
		<a class="anchor" id="pricing"></a>
		<div class="item col-md-12 col-sm-6 col-xs-12">
			<h2 class="title text-center">Pricing</h2>
			<p class="intro">Your first candidate screening interview is free. If you are happy with our services (and we are sure you will be), we charge $20 for a quick 20-minutes interview and $35 for a more elaborate 45-minutes interview.</p>
		</div>
	</div>
</section>
<section class="features section">
	<div class="container text-center">
		<a class="anchor" id="contact"></a>
		<div class="item col-md-12 col-sm-6 col-xs-12">
			<h2 class="title text-center">Get Started</h2>
			<p class="intro" style="font-size:large">We love email. Simply <a href="mailto:contact@getqlibri.com">drop us a line at contact@getqlibri.com</a> to get in touch and we will contact you as soon as we can.</p>
		</div>
</section>
