<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
	<div class="container text-center">
		<h2 class="title" id="title" name="title">We create products people love</h2>
		<p class="intro">A young development studio</p>
		<p class="intro">creating amazing software products for </p>
		<p class="intro">#iOS #Android #Web #Desktop</p>
		<div class="btns">
			<a href="#contact" class= "btn btn-cta-secondary">Get a Free Quote For Your Project Now</a>
		</div>
		<br />
		<br />
		<br />
		<br/>
		<br />
		<br/>
		<br />
		<br/>
	</div><!--//container-->          
</section><!--//promo-->    

<!-- ******LICENSE****** --> 
<section class="about section">
	<div class="container">
		<a class="anchor" id="about"></a>
		<div class="item col-md-4 col-sm-6 col-xs-12">
		<h2 class="title text-center">Who are we?</h2>
			<div class="info">
				<p>We are a small team of experienced software developers, based in Sofia, Bulgaria.</p> 
				<h4>We love what we do...</h4>
				<p>We simply love software development. We have been doing this since we were kids. Serioulsy, we can't imagine we would do something else.</p>
				<h4>...so we do what we love</h4>
				<p>This is why we started Qlibri.<br/>
				At Qlibri, development is not simply a job. It's a passion and a way of living.
				</p>
			</div><!--//info-->

		</div>
		<div class="item col-md-4 col-sm-6 col-xs-12">
		<a class="anchor" id="portfolio"></a>
		<h2 class="title text-center">What we have done?</h2>
			<div class="info">
				<h4>Some recent projects we are proud of</h4>
				<p>We are absolutely passionate about all of our projects. Here are some of the amazing products the developers of our team have done:</p>
				<ul>
					<li><a href="http://giveapizza.com" target="_blank">Give a Pizza</a></li>
					<li><a href="http://getqlibri.com" target="_blank">Qlibri</a></li>
					<li><a href="http://mytriply.com">Triply</a></li>
					<li><a href="http://meerkapp.com">Meerkapp</a></li>
					<li><a href="http://shtipkasol.com">Pinch of Salt</a></li>
				</ul>
				<p>Our team has long experience in building various software solutions ranging from mission-critical large-scale systems for financial and insurance companies, to fun mobile apps.</p>
			</div><!--//info-->

		</div>
		<div class="item col-md-4 col-sm-6 col-xs-12">
		<h2 class="title text-center">What can we do?</h2>
			<div class="info">
				<h4>Bring your ideas to life</h4>
				<p>You have a project or just a great idea? Now you can start building it. If it's software, we can make it.</p>
				<ul>
					<li>Website</li>
					<li>Mobile App</li>
					<li>Specialized software for your company</li>
				</ul>
				<p>Our team has long experience in building various software solutions ranging from mission-critical large-scale systems for financial and insurance companies, to fun mobile apps.</p>
			</div><!--//info-->
			<!--//info-->
			<!--//cta-container-->

		</div><!--//license-inner-->

	</div><!--//container-->

</section><!--//how-->
<section class="license section">
	<div class="container">
		<div class="license-inner">
			<a class="anchor" id="contact"></a>
			<div class="cta-container anchor">
				<h2 class="title text-center">Contact us</h2>
				<div class="speech-bubble">                    
					<p class="intro text-center">Talk to us now. You will be on a mail / skype / hangouts chat with one of our developers in a few minutes. No obligations or commitments.</p>
				</div><!--//speech-bubble-->
				<div class="btn-container text-center">
					
					We love email. Drop us a few lines about what needs to be done at <a href="mailto:contact@getqlibri.com">contact@getqlibri.com </a> and we will be happy to discuss!
					<%= render 'contact_form' %>
				</div><!--//btn-container-->
				<br/>
				<br/>
				<br/>
			</div><!--//cta-container-->
		</div>
	</div>
</section>
<script>
$('#contact_form').on('ajax:success', function(event, data, status, xhr) {
	alert('success');
});
$('#contact_form').on('ajax:error', function(event, data, status, xhr) {
	alert('error');
});
</script>
