<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
	<div class="container text-center">
		<h2 class="title" id="title" name="title">We create products people love</h2>
		<p class="intro">A passionalte development studio</p>
		<p class="intro">creating amazing software products for </p>
		<p class="intro">#iOS #Android #Web #Desktop</p>
		<div class="btns">
			<%= link_to "Get a Free Quote For Your Project Now", {:controller => :projects, :action => :new}, {:class => "btn btn-cta-secondary"} %>
		</div>
		<br />
		<br />
		<br />
		<br/>
		<br />
		<br/>
		<br />
		<br/>
	</div><!--//container-->          
</section><!--//promo-->    

<!-- ******LICENSE****** --> 
<section id="about" class="license section">
	<div class="container">
		<div class="license-inner">
		<h2 class="title text-center">Who we are</h2>
			<div class="info">
				<h4>We love what we do</h4>
				<p>We simply love software development. We have been doing this since we were kids. Serioulsy, we can't imagine we would do something else.</p>
				<p>Even more, we absolutely <strong>love</strong> building great products, in which we put all our passion and experience.</p>
				<p>This is why we started Qlibri.</p>
			</div><!--//info-->

		</div>
		<div class="license-inner">
		<h2 class="title text-center">What we have done?</h2>
			<div class="info">
				<h4>Some recent projects we are proud of</h4>
				<p>You have a project or just a great idea? Now you can start building it. If it's software, we can make it.</p>
				<ul>
					<li>Website</li>
					<li>Mobile App</li>
					<li>Specialized software for your company</li>
				</ul>
				<p>Our team has long experience in building various software solutions ranging from mission-critical large-scale systems for financial and insurance companies, to fun mobile apps.</p>
			</div><!--//info-->

		</div>
		<div class="license-inner">
		<h2 class="title text-center">What we can do for you?</h2>
			<div class="info">
				<h4>Bring your ideas to life</h4>
				<p>You have a project or just a great idea? Now you can start building it. If it's software, we can make it.</p>
				<ul>
					<li>Website</li>
					<li>Mobile App</li>
					<li>Specialized software for your company</li>
				</ul>
				<p>Our team has long experience in building various software solutions ranging from mission-critical large-scale systems for financial and insurance companies, to fun mobile apps.</p>
			</div><!--//info-->
			<!--//info-->
			<div class="cta-container">
				<div class="speech-bubble">                    
					<p class="intro text-center">Talk to us now. We'd love to work with you!</p>
				</div><!--//speech-bubble-->
				<div class="btn-container  text-center">
					
					<%= link_to "Contact us.", {:controller => :projects, :action => :new}, {:class => "btn btn-cta-secondary"} %>
				</div><!--//btn-container-->
			</div><!--//cta-container-->

		</div><!--//license-inner-->
	</div><!--//container-->
</section><!--//how-->
