<h1>Tell us about your project</h1>
<p>We need some essential information in order to pick the best subcontractor for you. </p>
<p>The information you submit is only viewable by our team and not shared with potential subcontractors.</p>
<%= render 'form' %>

<%= link_to 'Back', pages_path %>
